#background{
    display: none;
    position: fixed;
    z-index: 1;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
#showDesc{
	display:none;
    position: relative;
    background-color: azure;
    margin: 10% auto 10% auto;
    width: 80%;
    border: 1px solid #888;
    border-radius:25px;
}
#gallery{
	padding: 20px 10px;
}
.painting{
	display: inline-block;
	width:384px;
	margin: 20px 10px;
	border-style: ridge;
	border-radius: 10px;
	border-color: blue;
}
.drawing{
	width:80%
}