html{
    width:  100%;
	min-width: 1054px;
    background: linear-gradient(-90deg, rgba(255,0,0,0.5), rgba(255,127,0,0.5), rgba(255,255,0,0.5),rgba(0,255,0,0.5),rgba(0,255,255,0.5),rgba(0,127,255,0.5),rgba(0,0,255,0.5),rgba(255,0,255,0.5),rgba(255,0,127,0.5));
}
@font-face{
	font-family: arb;
	src: url(../fonts/arb.ttf);
}
body{
    font-family: arb;
}
#gallery{
	margin: 0px 5%;
	background-image: url(../images/wall_texture.jpg);
	background-size:400px;
	box-shadow: inset 0 0 0 2000px rgba(240,255,255,0.7);
    border: 1px solid #888;
}
.painting{
	display: inline-block;
	width:384px;
	margin: 20px 10px;
	border-style: ridge;
	border-radius: 10px;
	border-color: blue;
	align-content: center;
}
.drawing{
	display:block;
	margin: auto;
	width:80%;
	background-color: white;
    border-color:chocolate;
    border-style: groove;
    border-width: 5px;
}


/*zoom modal css*/

#background{
    display: none;
    position: fixed;
    z-index: 1;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
#zoom{
    position: relative;
    /*background-color: azure;*/
    margin: 10% auto 10% auto;
    width: 80%;
    border: 1px solid #888;
    border-radius:25px;
}
#zoom{
    position: relative;
    background-image: url("../images/wall_texture.jpg");
    background-size: 1000px;
    margin: 10% auto 10% auto;
    width: 80%;
    box-shadow: inset 0 0 0 2000px rgba(215,255,255,0.5);
    border: 1px solid #888;
    border-radius:25px;
}
.close{
    display:block;
    position: absolute;
    right: 2%;
    top: 0px;
	font-size:25px;
    cursor:pointer;
	
}
#imageUp{
	display:block;
	box-sizing: border-box;
    margin: 5% auto 20px auto;
    width:90%;
    background-color: white;
    border-color:chocolate;
    border-style: groove;
    border-width: 5px;
}
.plaque{
	position: relative;
	margin: 30px auto 10px auto;
	box-sizing: border-box;
	min-width: 70%;
	width: 70%;
	background: #F5F5F5;
	border-color: #BEBEBE;
	border-style: outset;
	border-width: 1px;
	padding: 20px;
	box-shadow: 2px 2px 1px grey;
}
#artistContainer{
	display: flex;
	margin: 20px auto 0px auto;
	justify-content: space-between;
}
#titleUp{
	position: relative;
	margin: 0px auto;
	display: block;
	text-align: left;
}
#nameUp{
	display: inline-block;
	position: relative;
	margin: 0px;
	left:0px;
	text-align: left;
}
#dateUp{
	display: inline-block;
	position: relative;
	margin: 0px;
	right: 0px;
	text-align: right;
}
#date{
	left: 25px;
	right: 0px;
}


