html{
    width:  100%;
	min-width: 1054px;
    background: linear-gradient(-90deg, rgba(255,0,0,0.5), rgba(255,127,0,0.5), rgba(255,255,0,0.5),rgba(0,255,0,0.5),rgba(0,255,255,0.5),rgba(0,127,255,0.5),rgba(0,0,255,0.5),rgba(255,0,255,0.5),rgba(255,0,127,0.5));
}
#gallery{
	padding: 20px 10px;
}
.painting{
	display: inline-block;
	width:384px;
	margin: 20px 10px;
	border-style: ridge;
	border-radius: 10px;
	border-color: blue;
	align-content: center;
}
.drawing{
	display:block;
	margin: auto;
	width:80%;
	background-color: white;
    border-color:chocolate;
    border-style: groove;
    border-width: 5px;
}


/*zoom modal css*/

#background{
    display: none;
    position: fixed;
    z-index: 1;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
#zoom{
    position: relative;
    background-color: azure;
    margin: 10% auto 10% auto;
    width: 80%;
    border: 1px solid #888;
    border-radius:25px;
}
#imageUp{
	display:block;
    margin: 10px auto 20px auto;
    width:60%;
    background-color: white;
    border-color:chocolate;
    border-style: groove;
    border-width: 5px;
}
#artistContainer{
	display: block;
	min-width: 60%;
	margin: 0px auto;
}
#titleUp{
	position: relative;
	display: block;
	text-align: left;
}
#nameUp{
	display: inline-block;
	position: relative;
	left:0px;
	right: 20px;
	text-align: left;
}
#dateUp{
	display: inline-block;
	position: relative;
	left:20px;
	right: 0px;
	text-align: right;
}
#date{
	left: 25px;
	right: 0px;
}


